*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  background-image: linear-gradient(to bottom, #009688 0px, #009688 15vh, #dddbd1 15vh, #d2dbdc 100%);
}

.container{
  width: 80%;
  height: 95%;
  min-width: 950px;
  margin: auto;
}

.left{
  width: 35%;
  height: 100%;
  float: left;
  border-right: 1px solid #d6d6d6;
  background-color: white;
}

.left-header{
  width: 100%;
  height: 70px;
  background-color: #eaeaea;
  position: relative;
}

.left-header img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  top: 10px;
}

.left-header .username{
  font-size: 20px;
  font-weight: 400;
  display: inline-block;
  line-height: 70px;
  margin-left: 70px;
}

.left-header i{
  font-size: 24px;
  color: #a2a2a2;
  float: right;
  margin: 0 10px;
  padding-top: 23px;
  cursor: pointer;
}

.left-alert{
  width: 100%;
  height: 80px;
  background-color: #7ed1fb;
  position: relative;
}

.left-alert i{
  font-size: 24px;
  color: #7ed1fb;
  padding: 18px 15px;;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: 20px;
  top: 10px;
}

.left-alert .alert-text{
  font-size: 15px;
  font-weight: 400;
  margin-left: 90px;
  padding-top: 22px;
}

.left-alert a{
  font-size: 15px;
  font-weight: 300;
  margin-left: 90px;
  color: #476d83;
}

.left-search{
  width: 100%;
  height: 50px;
  background-color: #f9f9f9;
  display: flex;
}

.left-search .search-label{
  width: calc(15% - 7px);
  height: 36px;
  margin: 7px 0 7px 7px;
  border: 1px solid #f5f5f5;
  display: inline-block;
  background-color: white;
  text-align: center;
}

.left-search .search-label i{
  font-size: 20px;
  color: #a2a2a2;
  line-height: 36px;
  cursor: pointer;
}

.left-search .search-bar{
  width: calc(85% - 7px);
  height: 36px;
  margin: 7px 7px 7px 0;
  border: 1px solid #f5f5f5;
  display: inline-block;
  outline: none;
}

.left-chat{
  width: 100%;
  height: calc(100% - 200px);
  overflow-y: scroll;
}

.left-chat .contact{
  width: 100%;
  height: 80px;
  border-bottom: 3px solid #f9f9f9;
  position: relative;
  cursor: pointer;
}

.left-chat .contact:hover{
  background-color: #f9f9f9;
}

.left-chat .contact.active{
  background-color: #f9f9f9;
}

.left-chat .contact img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  top: 10px;
}

.left-chat .contact .contact-name{
  font-size: 20px;
  font-weight: 300;
  margin-left: 80px;
  padding-top: 15px;
}

.right{
  width: 65%;
  height: 100%;
  float: left;
}

.right-header{
  width: 100%;
  height: 70px;
  background-color: #eaeaea;
  position: relative;
}

.right-header img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  top: 10px;
}

.right-header .username{
  font-size: 20px;
  font-weight: 300;
  margin-left: 70px;
  padding-top: 15px;
}

.right-header .status{
  font-size: 15px;
  font-weight: 300;
  margin-left: 70px;
  color: #a2a2a2;
}

.right-header .icon-box{
  position: absolute;
  top: 0;
  right: 0;
}

.right-header .icon-box i{
  font-size: 24px;
  color: #a2a2a2;
  float: right;
  margin: 0 10px;
  padding-top: 23px;
  cursor: pointer;
}

.chat-box-container{
  width: 100%;
  height: calc(100% - 140px);
  overflow-y: scroll;
  background-image: url(../img/mine.jpg);
}

.chat-box-container .chat-box{
  width: 95%;
  height: 100%;
  margin: auto;
}

.chat-box-container .chat-box .message{
  margin: 5px 0;
  padding: 15px 15px 20px 15px;
  min-width: 40%;
  max-width: 80%;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 300;
  position: relative;
}

.message.sent{
  background-color: #d5f9ba;
  float: right;
  clear: both;
}

.message.received{
  background-color: white;
  float: left;
  clear: both;
}

.message .data{
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
  font-size: 15px;
  text-align: right;
  color: #a2a2a2;
}

.typing-area{
  height: 70px;
  width: 100%;
  background-color: #efeae4;
  display: flex;
}

.typing-area .emoticon,
.typing-area .audio{
  height: 100%;
  width: 15%;
  text-align: center;
}

.typing-area .emoticon i,
.typing-area .audio i{
  font-size: 30px;
  color: #586062;
  cursor: pointer;
  line-height: 70px;
}

.typing-area .message-bar{
  width: 70%;
  height: 40px;
  margin: 15px 0;
  padding: 20px;
  border: 1px solid #586062;
  display: inline-block;
  outline: none;
  font-size: 20px;
}
